.form-control-wrapper {
  margin: 30px 0;
}

textarea {
	min-height: 100px;
	resize: none;
}

.checkbox, .radio {
	display: inline-block;
}

form {
	margin-top: 20px;
  	padding: 30px;
}

/* Hide parsley field error messages */
.parsley-errors-list {
	display: none;
}

.form-control.parsley-error {
	background-image: linear-gradient(#f44336, #f44336), linear-gradient(#d2d2d2, #d2d2d2);
}

.parsley-errors-list.filled + .floating-label,
.form-control-wrapper .form-control.parsley-error ~ .floating-label {
	color: #f44336;
}